{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
<div class="row">
  <div class="col-md-4 mb-4">
    {% if custom_config_exists and full_map_url %}
      <a target="_blank" href="{{ full_map_url }}" class="btn btn-primary">{{ 'Show on map'|t }}</a>
    {% endif %}
  </div>
  <div class="col-md-8 mb-4">
    <div class="row justify-content-end">
      {% if q is not empty %}
        {#
          This ensures that, if clean URLs are off, the 'q' is added first,
          as a hidden form element, so that it shows up first in the POST URL.
        #}
        {{ q }}
      {% endif %}
      {{ form.sort_order }}
      {{ form|without('sort_order') }}
    </div>
  </div>
</div>
