{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <a class="btn btn-secondary btn-sm list--btn-custom-position" href="{{ full_map_url }}">{{ 'Show on map'|t }}</a>
      </div>
    </div>
    <div class="row pt-3" id="collapseFilters">
      {% if q is not empty %}
        {{ q }}
      {% endif %}
      <div class="col-lg-3 col-md-6 col-sm-12">
        {{ form.field_area_target_id }}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        {{ form.field_type_target_id }}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        {{ form.field_content_state_value }}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        {{ form.sort_bef_combine }}
      </div>
      {{ form|without('sort_bef_combine', 'field_area_target_id', 'field_type_target_id', 'field_content_state_value') }}
    </div>
  </div>
</div>
