{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
<div class="row">
  {% if custom_config_exists and full_map_url %}
    <div class="col-md-2 mb-4">
      <a target="_blank" href="{{ full_map_url }}" class="btn btn-primary">{{ 'Show on map'|t }}</a>
    </div>
  {% endif %}
  <div class="col-md-12 mb-4">
    <div class="row justify-content-end collapse" id="collapseFilters">
      {% if q is not empty %}
        {#
          This ensures that, if clean URLs are off, the 'q' is added first,
          as a hidden form element, so that it shows up first in the POST URL.
        #}
        {{ q }}
      {% endif %}
      {{ form.sort_order }}
      {{ form|without('sort_order') }}
    </div>
    <div class="filters-toggle-wrapper"><a class="filters-toggle rounded" data-toggle="collapse" href="#collapseFilters"><span>{{ 'Show filters'|t }}</span><i class="fal fa-sort-alt float-right mt-1"></i></a></div>
  </div>
</div>
