{#
/**
 * @file
 * Hearing tickets loading block template.
 *
 * Available variables:
 * - node: The hearing node
 * - deadline_passed: true iff hearing deadline is passed.
 * - tickets: List of tickets
 */
#}

<div class="tickets" id="hearing-tickets">
  {% set has_external_hearing_tickets = node.field_hearing_ticket_add.uri|default(false) %}
  {% set hearing_ticket_add_url = has_external_hearing_tickets ? node.field_hearing_ticket_add.uri : path('hoeringsportal_deskpro.hearing.ticket_add', {node: node.id}) %}
  {% set hearing_ticket_add_title = (has_external_hearing_tickets ? node.field_hearing_ticket_add.title)|default('Add hearing ticket'|trans) %}
  {% set hearing_ticket_list_url = has_external_hearing_tickets ? node.field_hearing_ticket_list.uri|default(null) %}
  {% set hearing_ticket_list_title = has_external_hearing_tickets ? node.field_hearing_ticket_list.title|default('Show hearing tickets'|trans) %}

  {% if has_external_hearing_tickets %}
    {# Show Add hearing ticket before optional Show hearing tickets when using external hearing ticket system #}
    <div class="row mb-3">
      <div class="col-md-6">
        {% if not is_deadline_passed and is_hearing_started %}
          <a href="{{ hearing_ticket_add_url }}" class="btn btn-primary mt-md-3">
            {{ hearing_ticket_add_title }}
          </a>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if hearing_ticket_list_url %}
          <div class="float-md-right">
            <a href="{{ hearing_ticket_list_url }}" class="btn btn-secondary mt-md-3">
              {{ hearing_ticket_list_title }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>

  {% else %}

    {% if hearing_replies_deleted_on %}
      {%  set date = hearing_replies_deleted_on|date('U')|format_date('hoeringsportal_date') %}
      <div class="col-md-12 q">
        <div class="alert alert-warning mb-3" role="alert">
          <h4 class="mt-0">{{ 'The hearing replies were deleted on @date'|trans({'@date': date}) }}</h4>
          <p class="mb-0">{{ 'The time limit for how long we are allowed to keep the replies has been reached so we where obligated to delete them.'|trans }}</p>
        </div>
      </div>

    {% else %}
    <div class="row mb-3">
      <div class="col-md-6">
        {% if hearing_ticket_list_url %}
          <a href="{{ hearing_ticket_list_url }}" class="btn btn-secondary mt-md-3">
            {{ hearing_ticket_list_title }}
          </a>
        {% else %}
          <h2>{{ 'Hearing tickets (@count)'|trans({'@count': tickets|length}) }}</h2>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if not is_deadline_passed and is_hearing_started %}
          <div class="float-md-right">
            <a href="{{ hearing_ticket_add_url }}" class="btn btn-primary mt-md-3">
              {{ hearing_ticket_add_title }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>

    {% if not has_external_hearing_tickets and tickets %}
      {% for ticket in tickets %}
        <a href="{{ path('hoeringsportal_deskpro.hearing.ticket_view', {node: node.id, ticket: ticket.id}) }}" class="hearing-ticket card">
          <h3 class="card-header">
            {{ ticket.subject }}
          </h3>
          <div class="card-body">
            {% set message = ticket.fields.message|default('') %}
            {{ message|length > 180 ? message|slice(0, 180)|raw ~ '…' : message|raw }}
          </div>
          <div class="card-footer">
            {% set person_name = ticket.fields.person_name|default(ticket.person.display_name) %}
            {% set organization_type = deskpro_ticket_custom_field(ticket, 'representation') %}
            {% set organization = deskpro_ticket_custom_field(ticket, 'organization') %}

            {% if organization_type and organization %}
              {{ '@ticket_ref by @person_name on behalf of @organization (@organization_type)'|trans({
                '@ticket_ref': ticket.ref,
                '@person_name': person_name,
                '@organization': organization,
                '@organization_type': organization_type,
                }) }}
            {% else %}
              {{ '@ticket_ref by @person_name'|trans({'@ticket_ref': ticket.ref, '@person_name': person_name}) }}
            {% endif %}
            | <span class="ticket-date_created">{{ ticket.date_created|date('U')|format_date('hoeringsportal_datetime') }}</span>
            <i class="fa fa-arrow-right float-right"></i>
          </div>
        </a>
      {% endfor %}
    {% endif %}

    {% endif %}
  {% endif %}

</div>
