{#
/**
 * @file
 * Hearing ticket block template.
 *
 * Available variables:
 * - node: The hearing node
 * - ticket: Ticket data from Deskpro
 *   - messages: List of ticket messages
 *   - attachments: List of ticket attachments
 */
#}

<h5 class="mt-3">{{ 'Name'|t }}</h5>
<p>{{ ticket.fields.person_name|default(ticket.person.display_name) }}</p>
<h5 class="mt-3">{{ 'Sent d.'|t }}</h5>
<p>{{ ticket.date_created|date('U')|format_date('hoeringsportal_datetime') }}</p>

{% set represents = deskpro_ticket_custom_field(ticket, 'representation') %}
{% if represents %}
  <h5 class="mt-3">{{ 'Represents'|t }}</h5>
  <p>{{ represents }}</p>

  {% set organization = deskpro_ticket_custom_field(ticket, 'organization') %}
  {% if organization %}
    <h5 class="mt-3">{{ 'Organization'|t }}</h5>
    <p>{{ organization }}</p>
  {% endif %}
{% endif %}

{% if ticket.ref %}
  <h5 class="mt-3">{{ 'Ticket reference'|t }}</h5>
  <p>{{ ticket.ref }}</p>
{% endif %}
