{#
/**
 * @file
 * Hearing ticket block template.
 *
 * Available variables:
 * - node: The hearing node
 * - ticket: Ticket data from Deskpro
 *   - messages: List of ticket messages
 *   - attachments: List of ticket attachments
 */
#}
{#
<h1>{{ 'Hearing ticket by @name at @date'|trans({'@name': ticket.person.name, '@date': ticket.date_created|date('d/m/Y')}) }}</h1>
#}

<h5 class="mt-3">{{ 'Name'|t }}</h5>
<p>{{ ticket.person.name }}</p>
<h5 class="mt-3">{{ 'Sent d.'|t }}</h5>
<p>{{ ticket.date_created|date('j. F Y') }}</p>
<h5 class="mt-3">{{ 'Represents'|t }}</h5>
<p>{{ deskpro_ticket_custom_field(ticket, 'representation') }}</p>