{#
/**
 * @file
 * Hearing ticket block template.
 *
 * Available variables:
 * - node: The hearing node
 * - ticket: Ticket data from Deskpro
 *   - messages: List of ticket messages
 *   - attachments: List of ticket attachments
 */
#}
{#
<h1>{{ 'Hearing ticket by @name at @date'|trans({'@name': ticket.person.name, '@date': ticket.date_created|date('d/m/Y')}) }}</h1>
#}

{% if ticket.messages %}
  <h2>
    {{ ticket.subject }}
  </h2>
  {% for message in ticket.messages %}
    <div>
      {{ message.message|raw }}
      {% if message.attachments %}
        <h3>{{ 'Attachments'|t }}</h3>
        <div class="attachments">
          {% for attachment in message.attachments %}
            <div class="content-box--link-with-icon mb-3">
              <a href="{{ attachment.blob.download_url }}" target="_blank">
                {{ attachment.blob.filename }}
              </a>
              {% if attachment.blob.content_type == 'application/pdf' %}
                <i class="fa fa-file-pdf fa-sm ml-2 mr-2 mt-1"></i><span>PDF</span>
              {% elseif attachment.blob.content_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %}
                <i class="fa fa-file-word fa-sm ml-2 mr-2  mt-1"></i><strong>DOC</strong>
              {% elseif attachment.blob.content_type == 'application/msword' %}
                <i class="fa fa-file-word fa-sm ml-2 mr-2  mt-1"></i><strong>DOC</strong>
              {% elseif attachment.blob.content_type == 'text/plain' %}
                <i class="fa fa-file-alt fa-sm ml-2 mr-2  mt-1"></i><strong>TXT</strong>
              {% elseif attachment.blob.content_type == 'image/png' %}
                <i class="fa fa-file-image fa-sm ml-2 mr-2  mt-1"></i><span>PNG</span>
              {% elseif attachment.blob.content_type == 'image/jpeg' %}
                <i class="fa fa-file-image fa-sm ml-2 mr-2  mt-1"></i><strong>JPEG</strong>
              {% elseif attachment.blob.content_type == 'application/vnd.ms-excel' %}
                <i class="fa fa-file-excel fa-sm ml-2 mr-2  mt-1"></i><strong>XLS</strong>
              {% elseif attachment.blob.content_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %}
                <i class="fa fa-file-excel fa-sm ml-2 mr-2  mt-1"></i><strong>XLS</strong>
              {% else %}
                <i class="fa fa-file fa-sm ml-2 mr-2  mt-1"></i>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}

{% set url = deskpro_ticket_custom_field(ticket, 'pdf_download_url') %}
{% if url %}
  <a class="mt-3 btn btn-primary" target="_blank" href="{{ url }}">{{ 'Download ticket as pdf'|trans }}</a>
{% endif %}
