{% set node = content['#node'] %}
{% set short_type = node.bundle|split('_')|last %}

{% set badge_class = 'badge-' ~ short_type %}
{% set icon_source = directory ~ '/assets/svg/' ~ short_type ~ '.svg' %}

<div class="search-result search-result--node search-result--node--{{ node.bundle|clean_class }} d-flex w-100">
  {# icon #}
  <div class="search-result-icon">
    {{- source(icon_source, ignore_missing = true) -}}
  </div>
  <div class="container px-0 search-result-information">
    <div class="row no-gutters">
      <div class="col search-result-text mx-30">
        {# text: header #}
        <h2 class="search-result-header h5 mb-10">
          <a class="link-unstyled" href="{{ node.toUrl() }}">{{- node.label -}}</a>
        </h2>

        {# text: body #}
        {% if content['#search_api_excerpt'] %}
        <div class="search-api-excerpt mb-0">
          {{- content['#search_api_excerpt']|raw -}}
        </div>
        {% endif %}

        {# badges #}
        <div class="search-result-badges d-flex mt-10">
          <span class="todo-badge todo-badge-primary {{ badge_class }}">{{ node.type.entity.label }}</span>
        </div>
      </div>
      <div class="col-auto ml-auto">
        {# date #}
        <div class="search-result-date text-sm">
          {{- (node.createdTime|date('d-m-Y')) -}}
        </div>
      </div>
    </div>
  </div>
</div>
