{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<div class="d-flex flex-column sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#block-navigation" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if elements.hoeringsportal_branding %}
        {{ elements.hoeringsportal_branding }}
      {% endif %}

      <div class="collapse navbar-collapse" id="block-navigation">
        <div class="w-100 d-flex justify-content-end flex-lg-column-reverse flex-column align-items-lg-end align-items-start position-relative">
          {% if elements.primaernavigation %}
            {{ elements.primaernavigation }}
          {% endif %}
          <div class="d-flex position-relative">
            {% if elements.sekundaernavigation %}
              {{ elements.sekundaernavigation }}
            {% endif %}
            {% if elements.sogefelt_2 %}
              {{ elements.sogefelt_2 }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div>
    {% if elements.hoeringsportal_messages %}
      {{ elements.hoeringsportal_messages }}
    {% endif %}
  </div>
</div>
