{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<div class="footer mt-5">
  <div class="container">
    <div class="row">
      {% if (custom_config_exists) %}
        {% if (footer_text) %}
          <div class="col-md-3">
              {{ footer_text|raw }}
            <p><img src="/{{ base_path ~ directory }}/static/images/AAK_02_venstrejusteret_hvid.svg" alt="Aarhus Kommune"></p>
          </div>
        {% endif %}
        {% if (footer_second) %}
          <div class="col-md-3">
            {{ footer_second|raw }}
          </div>
        {% endif %}
        {% if (footer_third) %}
          <div class="col-md-3">
            {{ footer_third|raw }}
          </div>
        {% endif %}
        {% if (footer_fourth) %}
          <div class="col-md-3">
            {{ footer_fourth|raw }}
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-12 permalinks">
        {% if content %}
          {{ content }}
        {% endif %}
      </div>
    </div>
  </div>
</div>