{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ exposed }}
  {% if rows is empty and exposed.search_api_fulltext["#value"] is empty %}
    <div class="d-flex justify-content-center list--empty-text">
      <div>
        <div class="d-flex flex-column justify-content-center">
          <h3>{{ "Search - and results will show up here"|trans }}</h3>
        </div>
      </div>
    </div>
  {% elseif rows is not empty and empty is empty%}
    {{ rows }}
  {% else %}
    <div class="d-flex justify-content-center list--empty-text">
      <div>
        <div class="d-flex flex-column gap-0 justify-content-center">
          <p class="mx-0 h3"><i class="me-1">{{ exposed.search_api_fulltext["#value"] }}</i>{{ "returned no results"|trans }}</p>
          <p class="mx-0">{{ "Try with less words or to phrase it differently"|trans }}</p>
        </div>
      </div>
    </div>
  {% endif %}
  {{ pager }}
  {{ more }}
</div>
