{{ attach_library('better_social_sharing_buttons/styling') }}

<div class="social-sharing-buttons">
    <h4>{{ 'Share the proposal'|t }}</h4>

    {# Facebook share button #}
    {% if items.services.facebook %}
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ items.page_url }}&amp;title={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Facebook" aria-label="{{ 'Share to'|t }} Facebook" class="social-sharing-buttons__button share-facebook" rel="noopener">
            <i class="fa-brands fa-facebook fa-fw text-black"></i>
            <span>{{ 'Facebook'|t }}</span>
        </a>
    {% endif %}

    {# Twitter share button #}
    {% if items.services.twitter %}
        <a href="http://twitter.com/intent/tweet?text={{ items.title }}+{{ items.page_url }}" target="_blank" title="{{ 'Share to'|t }} Twitter" aria-label="{{ 'Share to'|t }} Twitter" class="social-sharing-buttons__button share-twitter" rel="noopener">
            <i class="fa-brands fa-x-twitter fa-fw text-black"></i>
            <span>{{ 'X (Twitter)'|t }}</span>
        </a>
    {% endif %}

    {# WhatsApp share button #}
    {% if items.services.whatsapp %}
        <a href="https://wa.me/?text={{ items.page_url }}" target="_blank" title="{{ 'Share to'|t }} WhatsApp" aria-label="{{ 'Share to'|t }} WhatsApp" class="social-sharing-buttons__button share-whatsapp" rel="noopener">
            <i class="fa-brands fa-whatsapp fa-fw text-black"></i>
            <span>{{ 'Whatsapp'|t }}</span>
        </a>
    {% endif %}

    {# Facebook Messenger share button #}
    {% if items.services.facebook_messenger %}
        <a href="http://www.facebook.com/dialog/send?app_id={{ items.facebook_app_id }}&amp;link={{ items.page_url }}&amp;redirect_uri={{ url('<current>') }}" target="_blank" title="{{ 'Share to'|t }} Facebook Messenger" aria-label="{{ 'Share to'|t }} Facebook Messenger" class="social-sharing-buttons__button share-facebook-messenger" rel="noopener">
            <i class="fa-brands fa-facebook-messenger fa-fw text-black"></i>
            <span>{{ 'Facebook messenger'|t }}</span>
        </a>
    {% endif %}

    {# Pinterest share button #}
    {% if items.services.pinterest %}
        <a href="http://pinterest.com/pin/create/link/?url={{ items.page_url }}&amp;description={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Pinterest" aria-label="{{ 'Share to'|t }} Pinterest" class="social-sharing-buttons__button share-pinterest" rel="noopener">
            <i class="fa-brands fa-pinterest fa-fw text-black"></i>
            <span>{{ 'Pinterest'|t }}</span>
        </a>
    {% endif %}

    {# Linkedin share button #}
    {% if items.services.linkedin %}
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ items.page_url }}" target="_blank" title="{{ 'Share to'|t }} Linkedin" aria-label="{{ 'Share to'|t }} Linkedin" class="social-sharing-buttons__button share-linkedin" rel="noopener">
            <i class="fa-brands fa-linkedin fa-fw text-black"></i>
          <span>{{ 'Linkedin'|t }}</span>
        </a>
    {% endif %}

    {# Digg share button #}
    {% if items.services.digg %}
        <a href="http://www.digg.com/submit?phase=2&amp;url={{ items.page_url }}&amp;title={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Digg" aria-label="{{ 'Share to'|t }} Digg" class="social-sharing-buttons__button share-digg" rel="noopener">
            <i class="fa-brands fa-digg fa-fw text-black"></i>
            <span>{{ 'Digg'|t }}</span>
        </a>
    {% endif %}

    {# Tumblr share button #}
    {% if items.services.tumblr %}
        <a href="http://www.tumblr.com/share?v=3&amp;u={{ items.page_url }}&amp;t={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Tumblr" aria-label="{{ 'Share to'|t }} Tumblr" class="social-sharing-buttons__button share-tumblr" rel="noopener">
            <i class="fa-brands fa-tumblr fa-fw text-black"></i>
            <span>{{ 'Tumblr'|t }}</span>
        </a>
    {% endif %}

    {# Reddit share button #}
    {% if items.services.reddit %}
        <a href="http://www.reddit.com/submit?url={{ items.page_url }}&amp;title={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Reddit" aria-label="{{ 'Share to'|t }} Reddit" class="social-sharing-buttons__button share-reddit" rel="noopener">
            <i class="fa-brands fa-reddit fa-fw text-black"></i>
            <span>{{ 'Reddit'|t }}</span>
        </a>
    {% endif %}

    {# Evernote share button #}
    {% if items.services.evernote %}
        <a href="http://www.evernote.com/clip.action?url={{ items.page_url }}&amp;title={{ items.title }}" target="_blank" title="{{ 'Share to'|t }} Evernote" aria-label="{{ 'Share to'|t }} Evernote" class="social-sharing-buttons__button share-evernote" rel="noopener">
            <i class="fa-brands fa-evernote fa-fw text-black"></i>
            <span>{{ 'Evernote'|t }}</span>
        </a>
    {% endif %}

    {# Email share button #}
    {% if items.services.email %}
        <a href="mailto:?subject={{ items.title }}&amp;body={{ items.page_url }}" title="{{ 'Share to'|t }} Email" aria-label="{{ 'Share to'|t }} Email" class="social-sharing-buttons__button share-email" target="_blank" rel="noopener">
            <i class="fa-solid fa-envelope fa-fw text-black"></i>
            <span>{{ 'Email'|t }}</span>
        </a>
    {% endif %}

    {# Copy link share button #}
    {% if items.services.copy %}
        {{ attach_library('better_social_sharing_buttons/copy-current-url') }}
        <a class="btnCopy social-sharing-buttons__button share-copy">
            <i class="fa-solid fa-copy fa-fw text-black"></i>
            <span>{{ 'Copy to clipboard'|t }}</span>
            <div class="social-sharing-buttons__popup">{{ 'Copied to clipboard'|t }}</div>
        </a>
    {% endif %}

  {# Print share button #}
  {% if items.services.print %}
    {% if items.print_css %}
      {% set href = "#" %}
      {% set rel = items.print_css %}
      {{ attach_library('better_social_sharing_buttons/print-css') }}
    {% else %}
      {% set href = "javascript:window.print()" %}
    {% endif %}
    <a href="{{ href }}" rel="{{ rel }}" class="bssb-printlink" class="share-print">
      <i class="fa-solid fa-print fa-fw text-black"></i>
      <span>{{ 'Print'|t }}</span>
    </a>
  {% endif %}
</div>
