{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{% set image_exists = field_media_image_single['#items'][0].value is not null %}
{% set header_text = field_teaser['#items'][0].value|striptags %}

<div class="group-header hero-container">
  {% if image_exists %}
    <div class="container">
      <div class="hero">
        <div class="hero__media-container p-0">{{ ds_content.field_media_image_single }}</div>
        <div class="hero__content">
          <h1 class="title underlined hero__title pt-4 pb-4">{{ node.title.value }}</h1>
          {{ header_text }}
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <div class="hero hero--image-right">
        <div class="hero__content">
          <h1 class="title underlined hero__title pt-4 pb-4 ml-3 ml-md-0">{{ node.title.value }}</h1>
          {{ header_text }}
        </div>
      </div>
    </div>
  {% endif %}
</div>

<div {{ attributes.addClass('projects', 'container') }}>
  {{ ds_content|without('field_teaser', 'field_media_image_single') }}
</div>
