{#
/**
 * @file
 * Display Suite 2 column stacked template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - header_wrapper: wrapper element around header region
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - footer_wrapper: wrapper element around footer region
 * - attributes: layout attributes
 * - header_attributes: attributes for header region
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - footer_attributes: attributes for footer region
 * - header: content of header region
 * - left: content of left region
 * - right: content of right region
 * - footer: content of footer region
 */
#}

<{{ outer_wrapper }}{{ attributes.addClass('ds-2col-stacked', 'clearfix') }}>
{% set image_exists = field_media_image_single['#items'][0].value is not null %}
{% set header_text = field_teaser['#items'][0].value|striptags %}
  {{ title_suffix.contextual_links }}
  <{{ header_wrapper }}{{ header_attributes.addClass('group-header bg-primary text-white') }}>
    {% if image_exists %}
      {% include directory ~ '/templates/components/header.html.twig' with {'header': header|without('field_teaser', 'field_media_image_single'), 'teaser': header_text } %}
    {% else %}
      {% include directory ~ '/templates/components/header.html.twig' with {'header': header|without('field_teaser'), 'teaser': header_text } %}
    {% endif %}
  </{{ header_wrapper }}>
  <div class="container content__container">
    <div class="row">
      <{{ left_wrapper }}{{ left_attributes.addClass('content group-left col-md-8') }}>
        <div class="content__main ">
          <div>
            {{ left['dynamic_block_field:node-citizen_proposal_support_counter'] }}
            <div class="d-flex justify-content-between mt-3 border-bottom pb-3">
              <div>
                {{ left.field_author_name }}
              </div>
              {% if node.field_author_email_display.value is same as('1') %}
                <div>
                  {{ left.field_author_email }}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="border-bottom pb-3">
            {{ left|without('field_author_name', 'field_author_email', 'dynamic_block_field:node-citizen_proposal_support_counter') }}
          </div>
          <div class="mt-3">
            <a class="btn btn-secondary btn-sm" href="{{ path('hoeringsportal_citizen_proposal.support', {'node': content['#node'].id}) }}">{{ 'Support the proposal'|t }}</a>
          </div>
        </div>
      </{{ left_wrapper }}>

      <{{ right_wrapper }}{{ right_attributes.addClass('group-right col-md-4') }}>
        <div class="d-none d-md-block">
          <a aria-hidden="true" class="btn btn-secondary btn-sm" href="{{ path('hoeringsportal_citizen_proposal.support', {'node': content['#node'].id}) }}">{{ 'Support the proposal'|t }}</a>
        </div>
        {{ right }}
      </{{ right_wrapper }}>
    </div>
  </div>
  <{{ footer_wrapper }}{{ footer_attributes.addClass('group-footer container-flex') }}>
    {{ footer }}
  </{{ footer_wrapper }}>
  {% if node_newsletter %}
    {% include '@hoeringsportal/newsletter-bottom-link.html.twig' %}
  {% endif %}
</{{ outer_wrapper }}>
