{#
/**
 * @file
 * Public meeting summary block template.
 *
 * Available variables:
 * - pretix_signup: Signup information
 * - signup_deadline: The deadline for signing up.
 * - node: The current node.
 */
#}

{% if node.field_pretix_dates[0] is defined %}
  <h5 class="mt-3">{{ 'Date'|t }}</h5>
  {{ node.field_pretix_dates[0].time_from|date('U')|format_date('hoeringsportal_date_long') }}

  <h5 class="mt-3">{{ 'Time'|t }}</h5>
  {{ node.field_pretix_dates[0].time_from|date('U')|format_date('hoeringsportal_time') }} - {{ node.field_pretix_dates[0].time_to|date('U')|format_date('hoeringsportal_time') }}
{% elseif node.field_last_meeting_time[0] is defined %}
  <h5 class="mt-3">{{ 'Date'|t }}</h5>
  {{ node.field_last_meeting_time[0].date|date('U')|format_date('hoeringsportal_date_long') }}

  <h5 class="mt-3">{{ 'Time'|t }}</h5>
  {{ node.field_last_meeting_time[0].date|date('U')|format_date('hoeringsportal_time') }}
{% endif %}

{% if pretix_signup.location is defined %}
  <h5 class="mt-3">{{ 'Place'|t }}</h5>
  {{ pretix_signup.location }}
{% endif %}

{% if signup_deadline.value|default(false) %}
  <h5 class="mt-3">{{ 'Last signup date'|t }}</h5>
  {{ signup_deadline.value|date('U')|format_date('hoeringsportal_date_long') }}
{% endif %}

<a class="sign-up-shortcut" class="btn btn-primary btn-sm mt-3 mb-3" style="display: none">{{ 'Sign up for public meeting'|t }}</a>
