{#
/**
 * @file
 * Public meeting summary block template.
 *
 * Available variables:
 * - pretix_signup: Signup information
 * - signup_deadline: The deadline for signing up.
 * - node: The current node.
 */
#}
<h5 class="mt-3">{{ 'Date'|t }}</h5>
{{ pretix_signup.time_from|date('U')|format_date('hoeringsportal_date_long') }}

<h5 class="mt-3">{{ 'Time'|t }}</h5>
{{ pretix_signup.time_from|date('U')|format_date('hoeringsportal_time') }} - {{ pretix_signup.time_to|date('U')|format_date('hoeringsportal_time') }}

<h5 class="mt-3">{{ 'Place'|t }}</h5>
{{ pretix_signup.location }}

<h5 class="mt-3">{{ 'Last signup date'|t }}</h5>
{{ signup_deadline.value|date('U')|format_date('hoeringsportal_date_long') }}

<a class="sign-up-shortcut" class="btn btn-primary btn-sm mt-3 mb-3" style="display: none">{{ 'Sign up for public meeting'|t }}</a>

