{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% set pretix_dates_field = drupal_field('field_pretix_dates', 'node', element['#object'].id)[0] %}
{% set variables = pretix_dates_field['#variables'].data %}
{% set time_to = pretix_dates_field.time_to %}
{% set now_timestamp = 'now'|date('U') %}
{% set registration_deadline = drupal_field('field_registration_deadline', 'node', element['#object'].id)[0].date %}
{% set registration_deadline_passed = registration_deadline and registration_deadline|date('U') <= now_timestamp %}
{% set meeting_has_been_held = time_to|date('U') <= now_timestamp %}
{% set cancelled = drupal_field('field_public_meeting_cancelled', 'node', element['#object'].id)[0]['#markup'] %}

<div class="d-none d-md-block">
  <section class="container">
    {% if label_hidden %}
      {% if multiple %}
        {% for item in items %}
          {{ item.content }}
        {% endfor %}
      {% else %}
        {% for item in items %}
          {{ item.content }}
        {% endfor %}
      {% endif %}
    {% else %}
      <h3>{{ label }}</h3>
      {% if multiple %}
      <div>
        {% endif %}
        {% for item in items %}
          <div class="row">
            <div class="col">
              {{ item.content }}
            </div>
          </div>
        {% endfor %}
        {% if multiple %}
      </div>
      {% endif %}
    {% endif %}
  </section>
  {% if cancelled == 1 %}
    <div class="pretix-alert meeting-has-been-cancelled m-3">{{ 'Meeting has been cancelled'|t }}</div>
  {% elseif meeting_has_been_held %}
    <div class="pretix-alert meeting-has-been-held m-3">{{ 'Meeting has already been held'|t }}</div>
  {% else %}
    {% if registration_deadline_passed %}
      {# @TODO: Design: styling of "alert" #}
      <div class="pretix-alert pretix-alert-registration-deadline-passed m-3">{{ 'Registration deadline passed'|t }}</div>
    {% elseif variables.data.data.pretix_subevent_shop_url|default(false) %}
      <a id="sign-up-shortcut" class="btn btn-primary btn-sm m-3" style="display: none">{{ 'Sign up for public meeting'|t }}</a>
    {% endif %}
  {% endif %}
</div>
