{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{# sort items by time_from #}
{% set items = items|sort((a, b) => a.content['#variables'].time_from <=> b.content['#variables'].time_from) %}

<div class="mb-5 mx-3 mx-lg-0">
  {# Headers for table like expirence on larger screens. #}
  <div class="row row-gap-2 py-2 d-none d-lg-flex">
    <label class="col-lg-3 col-xl-3 fw-bold small text-body-secondary">{{ 'Location'|t }}</label>
    <label class="col-lg-3 col-xl-3 fw-bold small text-body-secondary">{{ 'Date'|t }}</label>
    <label class="col-lg-1 col-xl-2 fw-bold small text-body-secondary">{{ 'Time'|t }}</label>
    <label class="col-lg-1 col-xl-1 fw-bold small text-body-secondary">{{ 'Spots'|t }}</label>
    <label class="col-lg-4 col-xl-3 fw-bold small text-body-secondary">{{ 'Registration'|t }}</label>
  </div>
  <div class="d-flex flex-column gap-4">
    {% for item in items %}
      {% set variables = item.content['#variables'] %}
      {% set node = variables['entity'] %}
      {% set meeting_cancelled = public_meeting_helper.isCancelled(node) %}
      {% set meeting_has_been_held = public_meeting_helper.hasBeenHeld(node) %}
      {% set registration_deadline_passed = date(variables.registration_deadline) < date(now) %}
      {% set sign_up_url = public_meeting_helper.getPretixSignUpUrl(variables.data) %}
      {% set availability = public_meeting_helper.getPretixAvailability(variables.data) %}

      {% set is_previous = variables.uuid == public_meeting_context.previous.uuid %}
      {% set is_current = variables.uuid == public_meeting_context.current.uuid %}
      {% set is_next = variables.uuid == public_meeting_context.next.uuid %}
      {% set is_first_upcoming = variables.uuid == public_meeting_context.upcoming[0].uuid %}

      <div class="row row-gap-2 py-2 py-lg-3 position-relative bg-white rounded {% if is_current %}pt-4 border border-primary {% elseif is_first_upcoming %}pt-4 border border-dark {% endif %}">

        {% if is_current %}
          <span class="position-absolute top-0 start-0 ms-3 translate-middle-y bg-primary text-white rounded-pill small w-auto px-2">{{ 'Current occurance'|t }}</span>
        {% elseif is_first_upcoming %}
          <span class="position-absolute top-0 start-0 ms-3 translate-middle-y bg-dark text-white rounded-pill small w-auto px-2">{{ 'First upcomming'|t }}</span>
        {% endif %}

        <div class="col-auto col-sm-12 col-lg-3 col-xl-3 d-flex">
          <i class="d-none fa-solid fa-ticket-alt text-primary opacity-50 me-3 mt-1 d-lg-block"></i>
          <div>
            <label class="d-block d-lg-none fw-bold small text-body-secondary">{{ 'Location'|t }}</label>
            <p class="fw-semibold mb-1">{{ variables.location }}</p>
            <p class="small mb-0">{{ variables.address }}</p>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-lg-3 col-xl-3">
          <label class="d-block d-lg-none fw-bold small text-body-secondary">{{ 'Date'|t }}</label>
          <span class="fw-semibold">{{ variables.time_from|date('U')|format_date('hoeringsportal_date_long') }}</small>
        </div>

        <div class="col-12 col-sm-6 col-lg-1 col-xl-2">
          <label class="d-block d-lg-none fw-bold small text-body-secondary">{{ 'Time'|t }}</label>
          {{ variables.time_from|date('U')|format_date('hoeringsportal_time') }}–{{ variables.time_to|date('U')|format_date('hoeringsportal_time') }}
        </div>

        <div class="col-12 col-sm-6 col-lg-1 col-xl-1">
          <label class="d-block d-lg-none fw-bold small text-body-secondary">{{ 'Spots'|t }}</label>
          {% if availability.available_number|default(false) %}
            {{ availability.available_number }}/{{ availability.total_size }}
          {% else %}
            {{ variables.spots }}/{{ variables.spots }}
          {% endif %}
        </div>

        <div class="col-auto col-sm-12 col-lg-3 col-xl-3">
          <label class="d-block d-lg-none fw-bold small text-body-secondary">{{ 'Registration'|t }}</label>
          {% if meeting_cancelled %}
            <div class="meeting-has-been-cancelled text-danger">{{ 'Meeting has been cancelled'|t }}</div>
          {% elseif meeting_has_been_held %}
            <div class="meeting-has-been-held">{{ 'Meeting has already been held'|t }}</div>

          {% else %}
            {% if registration_deadline_passed %}
              <div class="">{{ 'Registration deadline passed'|t }}</div>

            {# TODO: It seems like the `availability.total_size` is always equal to `availability.available_number`. Even after changing the available number of seats from admin to a higher number. #}
            {% elseif availability.available_number != availability.total_size %}
              <div class="no-spots-left">{{ 'No available spots left'|t }}</div>
            {% elseif sign_up_url %}
              <a href="{{ sign_up_url }}" class="btn btn-sm bg-primary text-white rounded py-1 px-3" target="_blank">
                <i class="fa-solid fa-ticket-alt fa-xs me-2"></i>{{ 'Sign up'|t }}
                <span class="sr-only">({{ 'Opens in a new tab'|trans }})</span>
              </a>
              <span class="small d-block">{{ 'Deadline:'|t }} {{ variables.registration_deadline|date('U')|format_date('hoeringsportal_date_long') }}</span>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
