{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
{% if element.field_signup_selection[0]['#markup'] != 'hidden' %}
  <div class="signup">
    <{{ wrapper_element }} {{ attributes }}>
      {% if title %}
      <{{ title_element }}{{ title_attributes }}>{{ title }}</{{ title_element }}>
      {% endif %}
      {% if collapsible %}
      <div class="field-group-wrapper">
      {% endif %}
        {% if element.field_signup_selection[0]['#markup'] == 'pretix' %}
          {{ element.field_registration_deadline }}
          {{ element.field_pretix_signup }}
        {% elseif element.field_signup_selection[0]['#markup'] == 'manual' %}
          {{ element.field_registration_deadline }}
          {{ element.field_signup_link }}
          {{ element.field_signup_text }}
        {% endif %}
      {% if collapsible %}
      </div>
      {% endif %}
    </{{ wrapper_element }}>
  </div>
{% endif %}
