{# Template for Hearing teaser extending base-card #}

{% extends 'themes/custom/hoeringsportal/templates/components/base-card.html.twig' %}

{# Set the content state #}
{% set content_state = content.field_content_state['#items'].value %}

{# Set date for next meeting #}
{% set startdate = content.field_start_date['0']['#attributes'].datetime %}

{# Show a date splash on the card #}
{% block card_date %}
  {# If we have a date then show a date splash on the card #}
  {% if (content.field_start_date) %}
    {# Show the date #}
      <div class="fw-semibold">{{ startdate|date('d')|t }}</div>
      <div class="small">{{ startdate|date('M')|t }}</div>
  {% endif %}
{% endblock %}

{# Show teaser description #}
{% block card_content %}
  {{ content.field_teaser }}
{% endblock %}

{# Collect data for information lines on card #}
{# TODO: Replace "2 svar" with real data #}
{% set items =
  [
    {icon: "fa-calendar-day", value: startdate|date('l j. F Y')|t },
    {icon: "fa-comments", value: "2 svar" },
    {icon: "fa-location-dot", value: content.field_area }
  ]
%}

{# Show card information #}
{% block card_type_information %}
  {# Show details for next meeting #}
  {% if (content_state == 'upcoming' or content_state == 'active') %}
  {% for item in items %}
    <div class="d-flex gap-3 justify-items-center {% if not loop.last %} border-bottom {% endif %}">
      <i class="fa-solid fa-fw fa-lg {{ item.icon }} text-hearing"></i>
      <p class="small">{{ item.value }}</p>
    </div>
  {% endfor %}

  {# Show text for finished meeting #}
  {% elseif (content_state == 'finished') %}
    <p>{{ "Meeting has been held"|t }}</p>

  {# Show text for canceled meeting #}
  {% elseif (content_state == 'canceled') %}
    <p>{{ "Meeting has been canceled"|t }}</p>
  {% endif %}
{% endblock %}
