{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
  <nav aria-label="Pager">
    <ul class="pagination justify-content-center">
      {% if items.previous %}
        <li class="page-item">
          <a href="{{ items.previous.href }}" title="{{ 'Previous'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }} class="page-link">
            <span><i class="fa fa-arrow-left fa-sm mr-2"></i> {{ 'Previous'|t }}</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link"><i class="fa fa-arrow-left fa-sm mr-2"></i> {{ 'Previous'|t }}</span>
        </li>
      {% endif %}
      <li class="page-item disabled"><span class="page-link">{{ 'Page'|t }} {{ current }} / {{ items.pages|length }}</span></li>
      {% if items.next %}
        <li class="page-item">
          <a href="{{ items.next.href }}" title="{{ 'Next'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }} class="page-link">
            <span>{{ 'Next'|t }} <i class="fa fa-arrow-right fa-sm ml-2"></i></span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">{{ 'Next'|t }} <i class="fa fa-arrow-right fa-sm ml-2"></i></span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

