{#
/**
 * @file
 * Template for displaying a pretix date.
 *
 * Available variables:
 * - variables: An array containing data about the pretix date.
 */
#}

{% set now_timestamp = 'now'|date('U') %}
{% set registration_deadline = variables.entity.field_registration_deadline[0].date %}
{% set registration_deadline_passed = registration_deadline and registration_deadline|date('U') <= now_timestamp %}
{% set meeting_has_been_held = variables.time_from|date('U') <= now_timestamp %}
{% set meeting_cancelled = drupal_field('field_public_meeting_cancelled', 'node', element['#object'].id)[0]['#markup'] is same as(1) %}

<tr class="pretix-date {{ registration_deadline_passed ? 'pretix-registration-deadline-passed' }} {{ meeting_has_been_held ? 'pretix-meeting-has-been-held' }}">
  <td><i class="fas fa-ticket-alt"></i></td>
  <td>{{ variables.location }}</td>
  <td>{{ variables.time_from|date('U')|format_date('hoeringsportal_date_long') }}</td>
  <td>{{ variables.time_from|date('U')|format_date('hoeringsportal_time') }}–{{ variables.time_to|date('U')|format_date('hoeringsportal_time') }}</td>
  <td>
    {# @TODO Maybe we should clean up this property path … #}
    {% set availability = variables.data.data.availability|first|default(false) %}
    {% if availability.availability|default(false) %}
      {% set availability = availability.availability %}
      {{ availability.available_number }}/{{ availability.total_size }}
    {% else %}
      {{ variables.spots }}/{{ variables.spots }}
    {% endif %}
  </td>
  <td>
    {% if meeting_cancelled %}
      <div class="pretix-alert meeting-has-been-cancelled">{{ 'Meeting has been cancelled'|t }}</div>
    {% elseif meeting_has_been_held %}
      <div class="pretix-alert meeting-has-been-held">{{ 'Meeting has already been held'|t }}</div>
    {% else %}
      {% if registration_deadline_passed %}
        {# @TODO: Design: styling of "alert" #}
        <div class="pretix-alert pretix-alert-registration-deadline-passed">{{ 'Registration deadline passed'|t }}</div>
      {% elseif variables.data.data.pretix_subevent_shop_url|default(false) %}
        <a href="{{ variables.data.data.pretix_subevent_shop_url }}" class="btn btn-primary btn-sm public-meeting-sign-up" target="_blank">
          {{ 'Sign up'|t }}
          <span class="sr-only">({{ 'Opens in a new tab'|trans }})</span>
        </a>
      {% endif %}
    {% endif %}
  </td>
</tr>
