{#
/**
 * @file
 * Template for displaying a pretix date.
 *
 * Available variables:
 * - variables: An array containing data about the pretix date.
 */
#}

{% set node = variables['entity'] %}
{% set meeting_cancelled = public_meeting_helper.isCancelled(node) %}
{% set meeting_has_been_held = public_meeting_helper.hasBeenHeld(node) %}
{% set registration_deadline_passed = public_meeting_helper.isDeadlinePassed(node) %}
{% set sign_up_url = public_meeting_helper.getPretixSignUpUrl(variables.data) %}
{% set availability = public_meeting_helper.getPretixAvailability(variables.data) %}

<tr class="pretix-date {{ registration_deadline_passed ? 'pretix-registration-deadline-passed' }} {{ meeting_has_been_held ? 'pretix-meeting-has-been-held' }}">
  <td><i class="fa-solid fa-ticket-alt"></i></td>
  <td>{{ variables.location }}</td>
  <td>{{ variables.time_from|date('U')|format_date('hoeringsportal_date_long') }}</td>
  <td>{{ variables.time_from|date('U')|format_date('hoeringsportal_time') }}–{{ variables.time_to|date('U')|format_date('hoeringsportal_time') }}</td>
  <td>
    {% if availability.available_number|default(false) %}
      {{ availability.available_number }}/{{ availability.total_size }}
    {% else %}
      {{ variables.spots }}/{{ variables.spots }}
    {% endif %}
  </td>
  <td>
    {% if meeting_cancelled %}
      <div class="pretix-alert meeting-has-been-cancelled">{{ 'Meeting has been cancelled'|t }}</div>
    {% elseif meeting_has_been_held %}
      <div class="pretix-alert meeting-has-been-held">{{ 'Meeting has already been held'|t }}</div>
    {% else %}
      {% if registration_deadline_passed %}
        {# @TODO: Design: styling of "alert" #}
        <div class="pretix-alert pretix-alert-registration-deadline-passed">{{ 'Registration deadline passed'|t }}</div>
      {% elseif sign_up_url %}
        <a href="{{ sign_up_url }}" class="btn btn-primary btn-sm public-meeting-sign-up" target="_blank">
          {{ 'Sign up'|t }}
          <span class="sr-only">({{ 'Opens in a new tab'|trans }})</span>
        </a>
      {% endif %}
    {% endif %}
  </td>
</tr>
